* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
}
/** Top Section **/
.tops {
    display: flex;
    justify-content:space-between;
}

.tops .leaderboard a {
    color: purple;
    text-decoration: none;
}

/** INTRO SECTION **/
.container-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.container-intro p {
    line-height: auto;
}
.container-intro .intro #start{
    width: auto;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    background-color: purple;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 30px;
}

/** Content **/
.hide {
    display: none;
}
.show {
    visibility: visible;
}

/** form **/
.form-input {
    margin-top: 10px;
    margin-bottom: 10px;
  }

/** Scores Section **/
.container-scores {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.container-scores .btns #goBackBtn, #clearListBtn  {
    width: auto;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    background-color: purple;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 30px;
}
